version: '3.8'
 
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_app
    ports:
      - "8080:8080"
    command: ["sh", "-c", "cp /app/.env.example /app/.env && npm start"]